/** @format */

.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 30em;
  height: 30em;
  margin: 30px auto 20px;
}

.container a {
  border: 1px solid rgb(83, 83, 83);
  transition: background 1s;
  text-decoration: none;
  color: rgb(83, 83, 83);
  text-align: center;
  font-size: 5em;
  line-height: 2em;
  vertical-align: middle;
}
.container a:hover {
  background: rgba(136, 136, 136, 0.623);
  transition: background 1s;
}
